.buttons {
    display: flex;
    align-items: center;

    .btn {
        margin-left: 20px;
     

        &:first-of-type {
            margin-left: 0;
        }
    }
}

.btn {
    border-radius: 30px;
    padding: 20px 24px;
    background: #B01313;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    transition: background-color 0.25s linear;

    &.btn-ghost {
        background: transparent;
        color: #313155;
        border: 2px solid #D0D5DF;
        transition: background-color 0.25s linear;
    }

    &.btn-secondary {
        background: #3258A3;
        transition: background-color 0.25s linear;
    }
}

.btn-primary:hover {
    background: #941817;
}

.btn-ghost:hover {
    background: #3258A3;
    color: #FFFFFF;
    border: 2px solid #3258A3;
}

.btn-secondary:hover {
    background: #354879;
}

.hide {
    display: none;
}