.blogs {
    .header__top__link {
        width: 100%;
        height: 100%;
    }

    &__item__image {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}