.faq {
    margin-top: 100px;
    margin-bottom: 150px;

    .active {

        .faq__row-field-answer {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #5A5A77;
            margin-top: 9px;
            margin-bottom: 16px;
            display: block;
        }

        .faq__row-field-image:after {
            width: 25px;
            height: 25px;
            display: inline-flex;
            margin-top: 16px;
            content: "-";
            border: 1px solid #50957d;
            color: #50957d;
            font-size: 22px;
            cursor: pointer;
            border-radius: 50%;
            z-index: -1;
            align-items: center;
            display: flex;
            justify-content: center;
        }

    }


    // con
    &__con {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-subheading,
        &-heading,
        &-description {
            text-align: center;
        }

        &-description {
            margin-top: 12px;
            margin-bottom: 50px;

        }
    }

    // row field
    &__row-field {

        &-con {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        &-question {
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.1px;
            color: #313155;
            display: inline-flex;
            margin-top: 16px;
            margin-bottom: 9px;

        }

        &-answer {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #5A5A77;
            margin-top: 9px;
            margin-bottom: 16px;
            display: none;
        }

        // image plus - minus
        &-image:after {
            width: 25px;
            height: 25px;
            display: inline-flex;
            margin-top: 16px;
            content: "+";
            border: 1px solid #50957d;
            color: #50957d;
            font-size: 22px;
            cursor: pointer;
            border-radius: 50%;
            z-index: -1;
            align-items: center;
            display: flex;
            justify-content: center;
        }

    }

    &__row-field:last-child {
        border-bottom: 1px solid #D0D9E5;
    }

}

.left,
.right {

    &:first-child {
        border-top: 1px solid #D0D9E5;
    }
}

// responsive

// tablet mb: 768px
@media (max-width: breakpoint(md)) {
    .faq {
        .right {

            &:first-child {
                border-top: none;
            }
        }

    }
}