.logos {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 90px;

    .container {
        position: relative;
    }

    &__slide {
        display: flex;
        justify-content: center;
    }

    //  text  
    // small heading, heading, description
    &__con {
        display: flex;
        align-items: center;
        flex-direction: column;

        // small heading, heading, description
        &-subheading {
            max-width: 882px;
            margin-bottom: 13px;
            text-align: center;
        }

        &-heading {
            margin-bottom: 19px;
            text-align: center;
            max-width: 882px;
        }

        &-description {
            margin-bottom: 49px;
            text-align: center;
            max-width: 780px;
        }
    }

    // swiper
    &__slider-holder {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
    }


    .logos__slider {
        margin: 0 30px;

    }

    // arrows
    .logos__slider__nav-prev,
    .logos__slider__nav-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        svg path {
            fill: #CECED6;
            transition: 250ms fill ease;
        }

        &:hover {
            svg path {
                fill: #3258A3;
            }
        }
    }

    .logos__slider__nav-prev {
        left: 0;
    }

    .logos__slider__nav-next {
        right: 0;
    }

    // logos
    .logos__slide {
        height: 100%;
        width: auto;
        margin: 60px 0;

        img {
            width: auto;
            height: auto;
            object-fit: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }


    // pagination
    .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        width: 45px;
        height: 3px;
        border-radius: 1.5px;
        margin: 0 5px;
        cursor: pointer;
    }

    .swiper-pagination-bullet-active {
        background-color: #3258A3;
    }
}



// responsive

// sm: 576px,
@media (max-width: breakpoint(sm)) {
    .logos {
        .logos__slider__nav-prev {
            left: 25px;
        }
    
        .logos__slider__nav-next {
            right: 25px;
        }

    }
}