.split-columns {
    width: 100%;
    min-height: 650px;

    .row {
        &.order-reverse {
            flex-direction: row-reverse;
        }
    }


    // img
    &__img {
        height: 100%;

        &-image {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            border-radius: 0 100px 0 100px;
            background-position: center top;
            background-size: cover;
        }
    }


    // text
    &__text {
        margin-left: 20px;

        // head
        &-head {

            // small heading, heading, description
            &-subheading {
                margin-bottom: 26px;
            }

            &-heading {
                margin-bottom: 13px;
            }

            &-description {
                margin-bottom: 37px;
            }
        }


        // subhead
        &-subhead {
            display: flex;
            flex-direction: column;
            align-items: start;

            &-con {
                border-bottom: 2px solid #F6F6F8;
                margin-bottom: 45px;
                width: 100%;
                display: flex;

                &:last-child {
                    margin-bottom: 0;
                }

            }

            &-ico {
                display: flex;
                align-items: start;
                flex-direction: column;
            }


            &-img-ex {

                svg {
                    width: 37px;
                    height: 37px;
                    margin-right: 20px;
                    background-repeat: no-repeat;
                }
            }

            &-heading {
                margin-bottom: 4px;
                display: inline-block;

            }

            &-description {
                margin-bottom: 35px;

            }

        }

        &-buttons {
            margin-top: 20px;
        }
    }
}

// responsive

// tablet
@media (max-width: breakpoint(md)) {
    .split-columns {

        .split-columns__img-image {
            height: 400px;
            width: 100%;
            position: relative;
            background-size: cover;

        }

        .split-columns__text-head-subheading,
        .split-columns__text-head-heading {
            margin-top: 25px;
        }

        .split-columns__text-buttons {
            margin-bottom: 50px;
           
        }

        .btn{
            width: 100%;
        }
    }
}

// mob sm: 576px
@media (max-width: breakpoint(sm)) {
    .split-columns {

        .split-columns__text-buttons {
            margin-bottom: 60px;
        }
    }
}