.split-columns {
    width: 100%;
    padding: 110px 0;
    min-height: 650px;

    .row {
        &.order-reverse {
            flex-direction: row-reverse;
        }
    }



    // img
    &__img {
        height: 100%;

        &-image {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            border-radius: 0 100px 0 100px;
            background-position: center top;
            background-size: cover;
        }
    }


    // text
    &__text {
        margin-left: 20px;

        // head
        &-head {

            // small heading, heading, description
            &-subheading {
                margin-bottom: 26px;
            }

            &-heading {
                margin-bottom: 13px;
            }

            &-description {
                margin-bottom: 37px;
            }
        }


        // subhead
        &-subhead {
            display: flex;
            flex-direction: column;
            align-items: start;

            &-con {
                border-bottom: 2px solid #F6F6F8;
                margin-bottom: 45px;
                width: 100%;
                display: flex;

                &:last-child {
                    margin-bottom: 0;
                }
            }


            &-img-ex {

                svg {
                    width: 37px;
                    height: 37px;
                    margin-right: 20px;
                }
            }

            &-subheading {
                font-weight: 700;
                font-size: 24px;
                line-height: 34px;
                letter-spacing: -0.218182px;
                color: #313155;
                display: inline-block;

            }

            &-description {
                margin-bottom: 35px;
                margin-top: 4px;
            }

        }

        &-buttons {
            margin-top: 20px;
        }
    }
}